/************************common***********************/
* {
    margin: 0;
    padding: 0
}
/*
.widget{
    transform-origin: 0 0 0;
    transform:scaleY(1.16);
}
*/

body {
    width: 4800px;
    height: 1080px;
    font-family: Arial, Helvetica;
    font-size: 12px;
    /*
    overflow : hidden;
    */
}

section {
    z-index: -1;
    float: left;
    height: 1035px;
    /*
    transform-origin: 0 0 0;
    transform : scaleY(2);
    */
}

.widget {
    background: rgba(0, 0, 0, 0);
    border: solid rgba(10,74, 115, 0.8) 0px;
    float: left;
}

.widget .widget-head {
    background: rgba(10,74, 115, 0.8);
    width: inherit;
}

.widget .widget-head .widget-title {
    color: #fff;
    font-size: 12px;
    padding-left: 5px;
    line-height: 25px;
}

.widget .widget-zoom-in {
	background: url('../images/zoom-in.png') no-repeat;
    margin: 4px 5px 0px 0px;
    float: right;
    cursor: pointer;
    width: 15px;
    height: 15px;
}
.widget .widget-zoom-out {
	background: url('../images/zoom-out.png') no-repeat;
    margin: 4px 5px 0px 0px;
    float: right;
    cursor: pointer;
    width: 15px;
    height: 15px;
}
.widget .widget-head .widget-collapse-up {
	background: url('../images/up.png') no-repeat;
    margin: 4px 5px 0px 0px;
    float: right;
    cursor: pointer;
    width: 15px;
    height: 15px;
}
.widget .widget-head .widget-collapse-down {
	background: url('../images/down.png') no-repeat;
    margin: 4px 5px 0px 0px;
    float: right;
    cursor: pointer;
    width: 15px;
    height: 15px;
}

.widget .widget-head .widget-remove {
	background: url('../images/close.png') no-repeat;
    margin: 4px 5px 0px 0px;
    float: right;
    cursor: pointer;
    width: 15px;
    height: 15px;
}

.widget .widget-content {
    background: rgba(0, 0, 0, 0);
    width: inherit;
}

.clear {
    clear: both;
}

a {
    color: #0080FF;
    text-decoration: none;
}

p {
    margin: 0 0 10px 0;
}

h2 {
    font-size: 14px;
    margin: 0 0 10px 0;
    padding: 5px;
}

pre {

}

.greybloc {
    /*background-color: #E0E0E0;*/
    margin: 10px 10px 0 0;
    padding: 10px 40px 10px 10px;
    overflow: hidden;
    float: left;
    clear: both;
}

.titre {
    margin-bottom: 30px;
}

/* style des box draggables */

.box-big {
    width: 400px;
    height: 300px;
    padding: 5px;
    float: left;
    z-index: 4;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid #ffffff;
}

.box-map {
    width: 800px;
    height: 1000px;
    padding: 5px;
    float: left;
    z-index: 3;
    position: relative;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid #ffffff;
}

.box-big h2 {
    font-size: 28px;
    color: rgb(250, 165, 0);
    /*background-color: #FFF;*/
}

@font-face {
    font-family: KARNIVOL;
    src: url(../font/KARNIVOL.ttf)
}
/*定义滚动条宽高及背景，宽高分别对应横竖滚动条的尺寸*/
.scrollbar::-webkit-scrollbar{
    width: 16px;
    height: auto;
    background-color: rgba(3,193,252,0.2);
}
/*定义滚动条的轨道，内阴影及圆角*/
.scrollbar::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    border-radius: 10px;
}
/*定义滑块，内阴影及圆角*/
.scrollbar::-webkit-scrollbar-thumb{
    /*width: 10px;*/
    height: 20px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: rgba(3,193,252,0.7);;
}
.font-size-6{
	font-size:12px;
	-webkit-transform-origin-x:0;
	-webkit-transform:scale(0.5);
}

#logo{
	margin-top: 6.5px;	
}
#version {
    margin-bottom: 171px;
}
/************************left section***********************/
#left {
    width: 913.5px;
    height: 1043px;
    padding-top: 37px;
    padding-left: 46.5px;
    background: #fff url(../images/bg_left.jpg) top left;
}
#leftHead{
	padding-left:3px;
}
#leftBody {
    padding-top: 20px;
}

#leftBodyMetricInfo {
    float: left;
    width: 414px;
}

#leftBodyGeneralMetric{
    padding-left: 7px;
	padding-top: 0px;
}
#leftBodyThisYearAdd {
    padding-left: 7px;
    padding-top: 13px;
}

#leftBodyMultiMetric1, #leftBodyMultiMetric2 {
    padding-top: 14px;
}

#leftBodyNav {
    padding-left: 35px;
    width: 422px;
    height: 100%;
    float: left;
}
#leftBodyNavTime {
    padding-top: 0px;
}
#leftBodyNavCont {
    padding-top: 22px;
}

/************************center section***********************/
#center {
    width: 2880px;
    padding-top: 45px;
}
.centerNoMap {
    background: #fff url(../images/bg_center.jpg) top left;
}
.centerHasMap {
    background: #fff url(../images/bg_center_map.jpg) top left;
}

.centerZone {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 3;
}
/************************right section***********************/
#right {
    width: 940px;
    padding-left: 20px;
    padding-top: 45px;
    background: #fff url(../images/bg_right.jpg) top left;
}

#rightZone {
    width: 100%;
    height: 100%;
    position: relative;
}

#rightUp {
    position: absolute;
    left: 0px;
   	top: 0px;
}

#rightDown {
    position: absolute;
    left: 0px;
   	top: 506px;
}

/************************customization***********************/
#debug {
    position: fixed;
    bottom: 30px;
    right: 30px;
}

#widgetMap {
	position: absolute;
	top: 0px;
	left: 791px;
}
#widgetWeatherMap{
	position: absolute;
	left: 1072px;
	top: 67px;
}

.mask{
	background-color:#9D9D9D;
	position: absolute;
	opacity: 0.8; 
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 100;
}


/*************************************************/
.main_with_map{
    margin-left: 80px;
    z-index: -1;
}
.main_with_table{
    margin-left: 100px;
    z-index: -1;
}
.main_with_table .big-title{
	display: inline;
	float: left;
}
.main_with_map ul{
    list-style: none;
}
.main_with_table ul{
	padding-top: 32px;
	padding-left: 650px;
    list-style: none;
}
.big-title{
    color: #f4a318;
    font-size: 64px;
    font-family: Microsoft Yahei, 黑体, Helvetica Neue, Helvetica, Arial, sans-serif!important;
    font-weight: bold;
    line-height: 100px;
    margin-bottom: 10px;
}
.main_with_map .list-title{
    height: auto;
    width: 900px;
    position: absolute;
    z-index: 999;
}
.main_with_table .list-title{
    height: auto;
    z-index: 999;
}
.list-title li{
    float: left;
    width: auto;
    color: rgba(255,168,1,0.8);
    font-size: 20px;
    padding: 5px;
    border: 1px solid #1a5caa;
    margin-right: 13px;
    margin-bottom: 20px;
    line-height: 18px;
    cursor: pointer;
    font-family: Microsoft Yahei, 黑体, Helvetica Neue, Helvetica, Arial, sans-serif!important;
}
.list-title li p{
    padding: 10px;
    margin-bottom: 0px;
}
.active p,.menuActive p{
    width: auto;
    height: auto;
    background: rgba(48,125,193,0.3);
    line-height: 18px;
    display: block;
    padding: 10px;

}
#returnBtn{
	width: 64px;
	height: 64px;
	cursor: pointer;
	position: absolute;
    left: 110px;
    top: 482px;
}

.map_desc_content_huzhuerji{
	font-size: 16px;
	color: #F2740A;
	font-family: Microsoft Yahei;
	padding-top:20px;
	padding-left: 5px;
}
.map_desc_content{
	font-size: 18px;
	color: #F2740A;
	font-family: Microsoft Yahei;
	padding-top:50px;
	padding-left: 20px;
}
.map_desc_content_legName{
	padding-top: 5px;
	color: #FFF;
}
.map_desc_content_data{
	font-size: 20px;
	color: #FDA902;
	padding-left: 20px;
}
.fpZhenduanSelect{
	font-size: 25px;
	border: none;
	background-color: rgba(0,0,0,0);
	width: 341px;
	height: 32px;
	color: rgba(255,168,1,0.8);
	font-family: Microsoft Yahei;
}
#areaList{
	position: absolute;
	width: 386px;
	height: 343px;
	background-color: rgba(14,71,142,0.3);
	padding-top: 30px;
	padding-bottom: 30px;
	overflow-x: hidden;
}
#areaList div{
	line-height: 45px;
	color: #FFF;
	font-size: 24px;
	padding-left: 80px;
	font-family: Microsoft Yahei;
	cursor: pointer;
}
.fpZhenduanTable{
	margin: 20px 120px 20px 120px;
}
.fpZhenduanTable h4{
	padding-left: 50px;
	font-size: 28px;
	color: #FFF;
}
.fpZhenduanTable select,.fpZhenduanTable>select>option{
	text-aline: center;
	padding-left: 43%;
	font-size: 28px;
	color: #FFA801;
	width: 100%;
	background-color:transparent;
	outline: none;
	border: none;
}
.fpZhenduanTable > div{
	width: 100%;
	height: 745px;
	overflow-x: hidden;
}
.fpZhenduanTable table{
	width: 100%;
	color: #FFF;
	font-size: 20px;
	font-family: Microsoft Yahei;
	border-right:1px solid rgba(14,71,142,1);
	border-bottom:1px solid rgba(14,71,142,1);
}
.fpZhenduanTable tr{
	height: 40px;
}
.fpZhenduanTable td,.fpZhenduanTable th{
	border-left:1px solid rgba(14,71,142,1);
	border-top:1px solid rgba(14,71,142,1);
}
.fpZhenduanTable tr td{
	width: 198px;
	text-align: center;
}
.fpZhenduanTable tr td:FIRST-CHILD{
	padding-left: 55px;
	width: 280px;
	text-align: left;
}
.fpZhenduanTable .childTd{
	padding-left: 75px;
}
.fpZhenduanTable .deleteTd{
	background: url('../images/close.png') no-repeat;
    width: 15px;
    height: 15px;
    float: right;
}
.fpZhenduanTable img{
    border: none;
}
.fpZhenduanTable .close_box{
    box-sizing: border-box;
    width: 15px;
    height: 15px;
    border: 1px solid rgba(3,193,252,0.9);
    background: rgba(3,193,252,0.3);
    float: right;
    margin-top: 6px;
    margin-right: 11px;
    cursor: pointer;
}
.fpZhenduanTable .close_box img{
    width: 70%;
    padding:2px ;
    display: block;
    vertical-align: middle;
}
#rightTable tr td:first-child{	/* 右边表格样式第1列，其余使用fpZhenduanTable  */
	text-align:center;
	padding-left:0;
	width: 50px;
}
#rightTable tr td:nth-of-type(2){	/* 右边表格样式第2列  */
	width: 120px;	
}
#rightTable tr td{	/* 右边表格鼠标移入样式  */
	cursor: pointer;
}
.trColor{			/* 右侧表格点击背景样式 */
	background-color:rgba(9,85,163,.3);
}
.gNav{		/* 整体情况鼠标移入样式 */
	cursor: pointer;
}

.centerTable{		/* 中间表格基本样式 */
	margin-top:35px;
}
.centerTable table{	/* 基本情况*/
	font-size: 16px;
}
.centerTable tr th{	/* 基本情况第1行 */
	font-size: 20px;
	height: 65px;
}

.centerTable_basic tr{		/* 基本情况行高 */
	height: 50px;
}
.centerTable_basic tr td:first-child{	/* 基本情况第1列 */
	width: 60px;
	padding-left: 0;
	text-align: center;
}
.centerTable_basic tr td:nth-of-type(2){	/* 基本情况第2、3列 */
	width: 80px;
}
.centerTable_basic tr td:nth-of-type(3){	/* 基本情况第3列 */
	width: 70px;
}
.centerTable_basic tr td:nth-of-type(4){	/* 基本情况第4列 */
	width: 250px;
}
.centerTable_basic tr td:nth-of-type(5),.centerTable_basic tr td:nth-of-type(10){	/* 基本情况第5、10列 */
	width: 120px;
}
.centerTable_basic tr td:nth-of-type(6){	/* 基本情况第6列 */
	width: 70px;
}
.centerTable_basic tr td:nth-of-type(7),.centerTable_basic tr td:nth-of-type(9),
.centerTable_basic tr td:nth-of-type(12),.centerTable_basic tr td:nth-of-type(13){	/* 基本情况第7、9、12、13列 */
	width: 105px;
}
.centerTable_basic tr td:nth-of-type(8){	/* 基本情况第8列 */
	width: 130px;
}
.centerTable_basic tr td:nth-of-type(11){	/* 基本情况第11列 */
	width: 110px;
}
.centerTable_basic tr td:nth-of-type(14){	/* 基本情况第14列 */
	width: 90px;
}
.centerTable_basic tr td:nth-of-type(15){	/* 基本情况第15列 */
	width: 140px;
}
.centerTable_basic tr td:nth-of-type(16),.centerTable_basic tr td:nth-of-type(17){	/* 基本情况第16、17列 */
	width: 145px;
}
.centerTable_basic tr td:nth-of-type(18){
	width: 160px;
}

.centerTable_Photo{						/* 家庭照片 */
	/* position: relative;
	z-index:2 */
	/* float: left */
	margin-top: 0;
	position: absolute;
} 

.centerTable_Photo tr td:first-child,.centerTable_Photo tr td{	/* 家庭照片第1列 */
	width: 25%;
}
.centerTable_Photo tr:nth-of-type(2){	/* 家庭照片第2行 */
	height: 650px;
}
.centerTable_Photo tr:nth-of-type(2) ul {		/* 家庭照片img */
	list-style: none;
	width: 100%;
	height: 100%;
	padding-top: 20px;
	padding-left: 20px;
	margin: 0;
}
.centerTable_Photo tr:nth-of-type(2) ul li{
	list-style: none;
	margin: 0;
	width: 12.5%;
	height: 25%;
	padding-left: 10px;
	padding-bottom: 10px;
	float: left;
}

.centerTable_Photo tr:nth-of-type(2) ul li img{
	font-size:0;
	width: 100%;
	height: 30%;
}
.centerTable_Photo>table>tbody {
	vertical-align: text-top;
	text-aline: center;
}
.fpZhenduanTable>#centerTable_Photo tr td:FIRST-CHILD{
	padding-left: 100px;
}
#bigImg{					/* 点击放大照片 */
	width:100%;
	height: 600px;
	position: absolute;
	z-index: -1;
	opacity: 0;
	top: 13%;
	font-size: 0;
}
#bigImg img:first-child{
	width: 50%;
	padding-left: 25%;
	height: 100%;
	margin: 0;
	font-size: 0;
}
.toCloseClick,.toLeftClick,.toRightClick{
	width: 65px;
	height: 65px;
	border-radius: 65px;
	position: relative;
	 cursor: pointer;
}
.toCloseClick{
	bottom:90%;
	right:9%;
	width: 45px;
	height: 45px;
}
.toLeftClick,.toRightClick{
	bottom:45%;
}
.toLeftClick{
	right:49%
}
.toRightClick{
	right:7.5%
}
.centerTable_Photo tr:nth-of-type(2) ul li:hover,.left:hover,.right:hover,.close:hover{
	cursor: pointer;
}

.centerTable_House tr td:first-child{	/* 到户措施第1列 */
	width: 520px;
}
.centerTable_many tr td,.centerTable_many tr td:first-child{	/* 基础设施\收支情况\产业发展与精准扶贫\金扶工程\能力提升\社会帮扶\易地搬迁\操作人员 */
	width: 25%;
}
.centerTable_many tr{
	height: 60px;
}
.centerTable_Helper tr td:first-child{		/* 帮扶责任人第1列 */
	padding-left:0;
}
.centerTable_Helper tr td,.centerTable_Helper tr td:first-child{		/* 帮扶责任人 */
	width: 12.5%;
}


.centerTable_Production tr td:first-child,.centerTable_Production tr td:nth-of-type(4){	/* 生产经营现状1、4列 */
	width: 25%;
}
.centerTable_Production tr td:nth-of-type(2),.centerTable_Production tr td:nth-of-type(6){	/* 生产经营现状2、6列 */
	width: 8%;
}
.centerTable_Production tr{
	height: 58px;
}

.centerTable_fp tr td{	/* 产业发展与精准扶贫2-4\6-8列 */
	width: 7.1%;
}
.centerTable_fp tr td:first-child,.centerTable_fp tr td:nth-of-type(5){	/* 产业发展与精准扶贫1\5列 */
	width: 25%;
}
.centerTable_Poverty tr td:first-child,.centerTable_Poverty tr td:nth-of-type(3){	/* 脱贫成效1\3列 */
	width: 27%;
}

/*显示区域CSS*/
.ui-widget-content{
	padding: 0px;
}
.lefBtn, .midBtn, .rigBtn{
	width: 100px;
	height: 200px;
    font-weight: bold !important;
}
.midBtn{
	margin-left: 80px !important;
}
.rigBtn{
	float: right;
}
.CustomizeInput{
	width: 300px;
	height: 50px;
	margin-top: 50px !important;
	margin-left: 15px !important;
}
.CustomizeOK{
	height: 50px;
	margin-left: 50px !important;
}

/*登陆页面*/
.loginBg{
    width: 4800px;
    height: 1080px;
    background: #fff url(../images/bg_login.jpg) top left;
}
/* 登录欢迎 */
.loginBg_welcome{
    width: 349px;
    height: 77px;
    background: url(../images/bg_login_welcome.png) top left;
   	position: absolute;
    top: 250px;
    left: 2200px;
    animation: appearAn 3s;
    -webkit-animation: appearAn 3s;
}
/* 名称 */
.loginBg_name{
    width: 1742px;
    height: 226px;
    background: url(../images/bg_login_name.png) top left;
   	position: absolute;
    top: 430px;
    left: 1529px;
    animation-delay: 3s;
    -webkit-animation-delay: 3s;
    animation: appearAn 5s;
    -webkit-animation: appearAn 5s;
}

    @keyframes appearAn{
        from {opacity: 0}
        to {opacity: 1}
    }
    @-webkit-keyframes appearAn{
        from {opacity: 0}
        to {opacity: 1}
    }

